body {
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* HEADER */

.header {
  width: 100%;
  background-color: #eaeaea;
  background-image: url(/src/img/25664\ kopia.png), url(/src/img/25664.png);
  background-repeat: no-repeat;
  background-position: left center, 100% 90%;
  background-blend-mode: overlay;
}
.mobile {
  display: none;
}
.top-links {
  background-color: #2e2e2e;
  width: 100%;
  height: 36px;
}
.top-links__container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 98%;
}
.top-links__item {
  margin: 0 42px 0 0;
}
.top-links__item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 0 2px 0;
  color: #ffffff;
  font-size: 11px;
}
.top-links__item svg {
  margin: 0 9px 0 0;
  height: 10px;
  fill: #da2128;
}
.top-links__item:nth-child(2) svg {
  height: 9px;
}
.setings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95px;
}
.setings__container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 98%;
}
.setings__search {
  display: flex;
  align-items: center;
}
.setings__search input {
  height: 50px;
  width: 59%;
  margin: 0 0 0 75px;
  padding: 15px;
  font-size: 13px;
  border-color: transparent;
}
.setings__search button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 46px;
  outline: none;
  background: #333333;
  cursor: pointer;
}
.setings__search button i {
  color: #ffffff;
  font-size: 18px;
}
.setings__lang {
  display: flex;
  align-items: center;
}
.setings__lang-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  height: 30px;
}
.setings__lang-container:first-child {
  margin: 0 0 0 -9px;
  border-right: 1px solid #bbbbbb;
}
.setings__lang-container span {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "myriad-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.setings__lang-container:last-child {
  padding: 0 0 0 15px;
}
.setings__lang-container:last-child span {
  cursor: pointer;
}
.setings__lang-container img {
  margin: 0 8px;
}
.setings__lang-container svg {
  height: 5px;
  cursor: pointer;
}
.basket {
  padding: 0 0 0 10px;
}
.basket__container {
  position: relative;
  z-index: 0;
}
.basket__container::before {
  position: absolute;
  content: "";
  background: url(/src/img/Warstwa683.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  right: 0;
  height: 200px;
  top: -106px;
  z-index: -1;
}
.basket__container a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 46px;
  text-decoration: none;
  color: #ffffff;
  z-index: 0;
}

.basket__container a::before {
  content: " ";
  background-image: url(/src/img/rank.png);
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: contain;
  filter: invert(100%);
  width: 38px;
  height: 46px;
  display: block;
  margin: 0 10px 0 18px;
}
.basket__quantity {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -12px;
  left: 44px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}
.basket__quantity span {
  font-size: 11px;
  font-family: "Ubuntu";
  font-weight: 700;
  color: #da2128;
}
.basket__txt {
  display: flex;
  flex-direction: column;
}

.basket__txt--title {
  font-size: 10px;
  font-family: sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.basket__txt--value {
  font-size: 19px;
  font-family: "Ubuntu";
  font-weight: 400;
}
.main-menu {
  display: flex;
  background-color: #ffffff;
}
.main-menu__container {
  display: flex;
  align-items: center;
  width: 98%;
}
.main-menu__item-container {
  display: flex;
}
.main-menu__item {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.1s linear;
}
.main-menu__item:hover {
  border-bottom-color: #da2128;
}
.main-menu__item:first-child {
  padding: 0 30px 0 0;
}
.main-menu__item a {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  color: #333333;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
.main-menu__item a svg {
  margin: 0 0 0 15px;
  height: 5px;
  cursor: pointer;
}
.product-menu {
  display: flex;
  align-items: center;
  height: 34px;
}
.product-menu__container {
  display: flex;
  width: 98%;
}
.product-menu__item {
  display: flex;
  align-items: center;
}
.product-menu__item span {
  margin: 0 12px;
  font-size: 12px;
  color: #333333;
}
.product-menu__item a {
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  text-decoration: none;
  color: #333333;
}
.product-menu__item:last-child a {
  color: #000000;
  font-weight: 700;
  font-size: 11px;
}

/* MAIN */

.main {
  width: 100%;
  background-color: #ffffff;
}
.projector {
  display: flex;
  padding: 27px 0;
  width: 98%;
}
.product-img {
  display: flex;
}
.product-img__list {
  width: 94px;
  height: 500px;
}
.product-img__list--arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 0 0;
}
.product-img__list--arrow:first-child {
  padding: 0 0 12px 0;
}
.product-img__list--arrow svg {
  width: 20px;
  cursor: pointer;
}
.product-img__list--arrow:first-child svg {
  transform: rotate(180deg);
}
.product-img__list--item {
  margin: 0 0 12px 0;
  padding: 3px 6px;
  width: 100%;
  border: 1px solid #ececec;
  cursor: pointer;
}
.product-img__list--item.active {
  border: 1px solid transparent;
  border-bottom: 3px solid #cd2d29;
}
.product-img__list--item img {
  width: 100%;
}
.product-img__selected {
  position: relative;
  padding: 18px 37px 0 22px;
  width: 100%;
}
.product-img__selected img {
  width: 100%;
}
.product-img__selected--info {
  position: absolute;
  padding: 0 9px 0 5px;
  top: 2px;
  right: 13px;
  background-color: #cd2d29;
  color: #ffffff;
  font-size: 9px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 1;
}
.product-img__selected--info::before {
  content: " ";
  position: absolute;
  background-image: url(/src/img/KształtLeft.png);
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: contain;
  right: 58px;
  width: 21px;
  height: 21px;
  display: block;
  z-index: -1;
}
.product-description {
  padding: 0 0 0 2px;
}
.product-description__info h1 {
  margin: -4px 0 0 0;
  font-size: 24px;
  text-transform: uppercase;
}
.product-description__additional {
  display: flex;
  margin: 10px 0;
}
.product-description__additional p {
  margin: 0 5px 0 0;
  font-size: 11px;
  text-transform: uppercase;
}
.product-description__additional--producer span {
  text-transform: none;
  color: #cd2d29;
  font-weight: 600;
}
.product-description__color--title {
  margin: 15px 0 0 0;
  font-size: 11px;
  text-transform: uppercase;
}
.product-description__color--container {
  display: flex;
  justify-content: space-between;
}
.product-description__color--item {
  margin: 10px 0 0 0;
  padding: 3px 5px;
  width: 14%;
  border: 1px solid #dfdfdf;
  cursor: pointer;
}
.product-description__color--item.active {
  border: 1px solid transparent;
  border-bottom: 4px solid #cd2d29;
}
.product-description__color--item img {
  width: 100%;
}
.product-description__color--item:nth-child(2) img {
  width: 100%;
  filter: hue-rotate(60deg);
}
.product-description__color--item:nth-child(3) img {
  width: 100%;
  filter: hue-rotate(120deg);
}
.product-description__color--item:nth-child(4) img {
  width: 100%;
  filter: hue-rotate(180deg);
}
.product-description__color--item:nth-child(5) img {
  width: 100%;
  filter: hue-rotate(240deg);
}
.product-description__color--item:nth-child(6) img {
  width: 100%;
  filter: hue-rotate(300deg);
}
.product-description__parameters {
  display: flex;
  margin: 15px 0 0 0;
}
.product-description__parameters--options {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.product-description__parameters--options label {
  font-size: 11px;
  text-transform: uppercase;
}
.product-description__parameters--options select {
  margin: 8px 6px 0 2px;
  padding: 13px 5px;
  border-color: #dfdfdf;
  font-size: 11px;
  font-weight: 600;
  color: #333333;
}
.product-description__parameters--options:last-child select {
  margin: 8px 0 0 10px;
}
.product-description__shipment {
  display: flex;
  justify-content: space-between;
  margin: 18px 0 0 2px;
}
.product-description__shipment--availability {
  display: flex;
}
.product-description__shipment--availability .check-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: #8dc640;
}
.product-description__shipment--availability div {
  margin: 0 0 0 10px;
}
.product-description__shipment--availability div p {
  font-size: 11px;
}
.product-description__shipment--availability div p:last-child {
  font-weight: 600;
}
.product-description__shipment--info {
  display: flex;
  justify-content: flex-end;
}
.product-description__shipment--info a {
  margin: 4px 2px 0 0;
  text-decoration: none;
  color: #cd2d29;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}
.product-description__price {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 0 0;
}
.product-description__price--item span {
  position: relative;
  color: #9d9c9c;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
}
.product-description__price--item:first-child span::before {
  content: " ";
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #9d9c9c;
}
.product-description__price--item p {
  color: #333333;
  font-size: 30px;
  font-weight: 600;
}
.product-description__price--item:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 0 20px;
  width: 102px;
  border: 1px solid #dfdfdf;
}
.product-description__price--item:nth-child(2) span {
  color: #333333;
  font-size: 23px;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.product-description__price--item button {
  padding: 22px 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-image: url(/src/img/Warstwa683.png);
  border: none;
  cursor: pointer;
}
.product-description__advantages {
  margin: 15px 0 0 0;
}
.product-description__comparison {
  display: flex;
  justify-content: space-between;
}
.product-description__comparison--container {
  display: flex;
}
.product-description__comparison--txt {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 12px;
}
.product-description__comparison--txt span {
  font-size: 14px;
  font-weight: 600;
}
.product-description__comparison--container a {
  text-decoration: none;
  color: #cd2d29;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}
.product-description__comparison--container:last-child a {
  margin: 4px 2px 0 0;
}
.product-description__comparison--img svg {
  width: 35px;
  height: 35px;
  fill: #da2128;
}
.product-description__promotion {
  display: flex;
  position: relative;
  margin: 18px 0 0 0;
  width: 100%;
  min-height: 100px;
  border: 1px solid #dfdfdf;
}
.product-description__promotion .aside-img {
  position: absolute;
  right: 18px;
  top: -15px;
  background-color: #fff;
}
.product-description__promotion--container {
  display: flex;
  flex-wrap: wrap;
  padding: 13px 5px;
  width: 100%;
}
.product-description__promotion--item {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 50%;
}
.product-description__promotion--icon {
  margin: 9px;
  height: 23px;
}
.product-description__promotion--item:nth-child(3)
  .product-description__promotion--icon {
  margin: 0;
  height: auto;
}
.product-description__promotion--icon img {
  height: 100%;
}
.product-description__promotion--icon span {
  display: block;
  padding: 0 8px 0 16px;
  font-size: 33px;
  line-height: 33px;
  color: #4d4d4d;
}
.product-description__promotion--txt p {
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.product-description__promotion--txt span {
  display: block;
  font-size: 11px;
  line-height: 13px;
  color: #7c7c7c;
}
.product-description__promotion--txt a {
  display: block;
  text-decoration: none;
  color: #cd2d29;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}
.hotspot {
  padding: 39px 0 28px 0;
  width: 98%;
}
.hotspot__title,
.desc__title,
.blog__title {
  display: flex;
  align-items: center;
}
.hotspot__title h2,
.desc__title h2,
.blog__title h2 {
  margin: 0 0 0 13px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.hotspot__product {
  display: flex;
}
.hotspot__item {
  display: flex;
  position: relative;
  align-items: center;
  padding: 20px;
  margin: 10px 23px;
}
.hotspot__item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  width: 1px;
  height: 90px;
  background-color: #dfdfdf;
}
.hotspot__item:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  width: 1px;
  height: 90px;
  background-color: #dfdfdf;
}
.hotspot__item:last-child {
  padding: 20px 0 20px 46px;
}
.hotspot__description {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 25px;
  padding: 0 0 12px 0;
}
.hotspot__item:nth-child(2) .hotspot__description,
.hotspot__item:nth-child(3) .hotspot__description {
  margin: 0 0 0 32px;
}
.hotspot__description a {
  font-size: 11px;
  text-transform: uppercase;
  color: #333333;
  text-decoration: none;
}
.hotspot__description span {
  display: block;
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 700;
}
.desc {
  display: flex;
  padding: 0 0 40px 0;
  width: 98%;
}
.desc__description {
  margin: 25px 0 0 0;
}
.desc__description p,
.desc__description li {
  font-family: "arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 100;
  color: #333333;
}
.desc__description ul {
  margin: 24px 0 0 0;
}
.desc__right {
  position: relative;
}
.desc__paramtery {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.desc__paramtery--benner {
  display: flex;
  align-items: center;
  position: relative;
  width: 285px;
  height: 138px;
  background-image: url(/src/img/Prostokąt\ 603.png);
  background-position: center;
  background-size: cover;
}
.desc__paramtery--benner::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 120px;
  background-image: url(/src/img/man.png);
}
.desc__paramtery--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 25px 0 88px;
}
.desc__paramtery--info p {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}
.desc__paramtery--info p:last-of-type {
  font-size: 17px;
}
.desc__paramtery--info span {
  display: block;
  margin: -2px 0;
  font-size: 11px;
  font-weight: 200;
  color: #ffffff;
}
.desc__paramtery--info a {
  margin: 10px 0 0 0;
  padding: 5px 36px;
  font-size: 11px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #ffffff;
}
.desc__paramtery--content {
  padding: 34px 0 24px 0;
  width: 285px;
  background-color: #ffffff;
  box-shadow: -56px 84px 110px -49px rgba(0, 0, 0, 0.44);
  z-index: 0;
}
.desc__paramtery::before {
  position: absolute;
  content: "";
  left: -76px;
  bottom: -165px;
  width: 480px;
  height: 415px;
  background-image: url(/src/img/Warstwa\ 681.png);
  background-repeat: no-repeat;
  z-index: -2;
}
.desc__paramtery::after {
  position: absolute;
  content: "";
  left: 336px;
  bottom: -10px;
  width: 39px;
  height: 39px;
  background-image: url(/src/img/Warstwa\ 696.png);
  background-repeat: no-repeat;
  z-index: 1;
}
.desc__paramtery--item {
  padding: 6px 24px;
}
.desc__paramtery--item p {
  font-size: 12px;
  font-weight: 300;
}
.desc__paramtery--item span {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}
.desc__questions {
  width: 672px;
  margin: 42px 0 0 0;
}
.desc__questions h3 {
  font-size: 16px;
  text-transform: uppercase;
}
.desc__questions--item {
  cursor: pointer;
}
.desc__questions--item .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0;
  font-size: 13px;
  font-weight: 600;
  color: #333333;
  border-bottom: 1px solid #dfdfdf;
}
.desc__questions--item.active .question {
  border-bottom: 1px solid transparent;
}
.desc__questions--item .question svg {
  margin: 0 5px 0 0;
  width: 10px;
}
.desc__questions--item.active .question svg {
  opacity: 0;
}
.desc__questions--item .response {
  display: none;
  margin: -3px 40px 15px 0;
  font-family: "arial", sans-serif;
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
  color: #4d4d4d;
}
.desc__questions--item.active .response {
  display: block;
}
.desc__questions div {
  display: flex;
  align-items: center;
  margin: 25px 0 0 0;
}
.desc__questions a {
  margin: 0 0 0 15px;
  padding: 13px 29px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  background-image: url(/src/img/Prostokąt\ 24\ kopia\ 38.png);
  background-position: center;
}
.blog {
  padding: 45px 0;
  width: 95%;
}
.blog__container {
  display: flex;
}
.blog__article:first-child {
  margin: 0 32px 0 0;
}
.blog__article h4 {
  padding: 18px 0;
  margin: 12px 0 0 0;
  font-family: "arial", sans-serif;
  font-size: 16px;
}
.blog__article--txt {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.blog__article--txt p {
  display: block;
  padding: 0 0 0 30px;
  width: 50%;
  font-family: "arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.blog__img {
  width: 241px;
  height: 204px;
  background-image: url(/src/img/Warstwa\ 679.png);
  background-position: center;
}
.blog__article:last-child .blog__img {
  background-image: url(/src/img/Warstwa\ 680.png);
}
.footer {
  width: 100%;
  min-height: 564px;
  background-image: url(/src/img/Warstwa\ 700.png),
    url(/src/img/Warstwa\ 701.png), url(/src/img/Warstwa\ 702.png),
    url(/src/img/Inteligentny\ obiekt\ wektorowy2.png),
    url(/src/img/Inteligentny\ obiekt\ wektorowy1.png),
    url(/src/img/Warstwa\ 704.png), url(/src/img/Warstwa\ 705.png),
    url(/src/img/Prostokąt\ 48\ kopia\ 2.png),
    url(/src/img/Inteligentny\ obiekt\ wektorowy.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 6% 20%, 0 0, 100% 11%, 86% 15%, 76.5% 21%, 72% 26%,
    92% 11%, center bottom, 100% 5%;
  background-size: auto, auto, auto, auto, auto, auto, auto, 100% 80%, 100% auto;
}
.footer__container {
  display: flex;
  align-items: flex-end;
  height: 564px;
}
.footer__item {
  position: relative;
  margin: 0 0 30px 10px;
}
.footer__item:nth-child(3) {
  margin: 0 0 15px 10px;
}
.footer__item:nth-child(4) {
  margin: 0 0 25px 10px;
}
.footer__item:nth-child(2)::before,
.footer__item:nth-child(3)::before,
.footer__item:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -70px;
  width: 1px;
  height: 165px;
  background-color: #fff;
  opacity: 0.1;
  z-index: 1;
}
.footer__item h4 {
  margin: 0 0 10px 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__item--tel {
  display: block;
  padding: 7px 0 0 0;
  font-size: 26px;
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
}
.footer__item--email {
  display: block;
  padding: 0 0 25px 0;
  font-size: 19px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}
.footer__item--soc {
  display: flex;
  margin: 0 0 29px 0;
}
.footer__item--soc li:first-child {
  margin: 0 30px 0 0;
}
.footer__item--menu li {
  padding: 5px 0;
}
.footer__item--menu a {
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #e0dcdc;
  text-decoration: none;
  opacity: 0.6;
}
.footer__item--menu a img {
  margin: 0 10px 0 0;
}
.idosel-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0 30px 0;
}

@media (max-width: 1400px) {
  .footer {
    background-image: url(/src/img/Warstwa\ 700.png),
      url(/src/img/Warstwa\ 701.png), url(/src/img/Warstwa\ 702.png),
      url(/src/img/Inteligentny\ obiekt\ wektorowy2.png),
      url(/src/img/Inteligentny\ obiekt\ wektorowy1.png),
      url(/src/img/Warstwa\ 704.png), url(/src/img/Warstwa\ 705.png),
      url(/src/img/Prostokąt\ 48\ kopia\ 2.png),
      url(/src/img/Inteligentny\ obiekt\ wektorowy.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
      no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 5% 20%, -2% 0, 101% 11%, 84% 18%, 72% 23%, 66% 26%,
      92% 11%, center bottom, 100% 5%;
    background-size: auto, auto, auto, auto, auto, auto, auto, 100% 80%,
      100% auto;
  }
}
@media (max-width: 1200px) {
  .footer {
    background-image: url(/src/img/Warstwa\ 700.png),
      url(/src/img/Warstwa\ 701.png), url(/src/img/Warstwa\ 702.png),
      url(/src/img/Inteligentny\ obiekt\ wektorowy2.png),
      url(/src/img/Inteligentny\ obiekt\ wektorowy1.png),
      url(/src/img/Warstwa\ 704.png), url(/src/img/Warstwa\ 705.png),
      url(/src/img/Prostokąt\ 48\ kopia\ 2.png),
      url(/src/img/Inteligentny\ obiekt\ wektorowy.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
      no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 5% 20%, -4% 0, 115% 11%, 89% 18%, 76% 23%, 69% 26%,
      99% 11%, center bottom, 100% 5%;
    background-size: auto, auto, auto, auto, auto, auto, auto, 100% 80%,
      100% auto;
  }
}
@media (max-width: 1000px) {
  .header {
    position: relative;
  }
  .top-links {
    position: relative;
    z-index: 3;
  }
  .setings {
    position: relative;
    background-color: #eaeaea;
    background-image: url(/src/img/25664\ kopia.png), url(/src/img/25664.png);
    background-repeat: no-repeat;
    background-position: left center, 100% 90%;
    background-blend-mode: overlay;
    z-index: 4;
  }
  .setings__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .setings__search {
    display: none;
  }
  .setings__lang {
    justify-content: flex-end;
    width: 35%;
  }
  .basket {
    width: 200px;
    padding: 0;
  }

  .mobile {
    display: flex;
    width: 60px;
  }
  .mobile i {
    font-size: 26px;
    cursor: pointer;
  }
  .main-menu {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(-150%);
    z-index: 2;
    transition: all 0.5s linear;
  }
  .main-menu.active {
    transform: translateY(43%);
  }
  .main-menu__container {
    width: 100%;
  }
  .main-menu__item-container {
    flex-direction: column;
    width: 100%;
  }
  .main-menu__item {
    width: 100%;
  }
  .main-menu__item:first-child {
    padding: 0 30px;
  }
  .product-menu {
    display: none;
  }
  .projector {
    flex-direction: column;
    width: 80%;
  }
  .product-img {
    flex-direction: column;
    width: 100%;
  }
  .product-img__list {
    display: flex;
    width: 100%;
    height: 105px;
  }
  .product-img__list--container {
    display: flex;
  }
  .product-img__list--arrow {
    padding: 0 0 0 20px;
  }
  .product-img__list--arrow:first-child {
    padding: 0 20px 0 0;
  }
  .product-img__list--arrow svg {
    transform: rotate(270deg);
    width: 30px;
  }
  .product-img__list--arrow:first-child svg {
    transform: rotate(90deg);
  }
  .product-img__list--item {
    margin: 0 6px;
    padding: 3px;
  }
  .product-img__selected {
    padding: 22px;
  }
  .product-img__selected--info {
    top: 40px;
  }
  .product-description {
    width: 100%;
  }
  .hotspot {
    padding: 39px 0 28px 0;
    width: 80%;
  }
  .hotspot__item {
    width: 50%;
  }
  .hotspot__item:last-child {
    display: none;
  }
  .hotspot__item:nth-child(2)::after {
    display: none;
  }
  .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .desc__left {
    width: 80%;
  }
  .desc__right {
    display: none;
  }
  .blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }
  .blog__container {
    flex-direction: column;
    align-items: center;
  }
  .blog__article {
    width: 100%;
  }
  .blog__article:first-child {
    margin: 0;
  }
}
@media (max-width: 900px) {
  .product-img__list {
    height: 95px;
  }
  .footer {
    background-image: url(/src/img/Warstwa\ 700.png),
      url(/src/img/Inteligentny\ obiekt\ wektorowy2.png),
      url(/src/img/Inteligentny\ obiekt\ wektorowy1.png),
      url(/src/img/Warstwa\ 704.png), url(/src/img/Warstwa\ 705.png),
      url(/src/img/Prostokąt\ 48\ kopia\ 2.png),
      url(/src/img/Inteligentny\ obiekt\ wektorowy.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
      no-repeat, no-repeat;
    background-position: 1% 21%, 92% 18%, 78% 23%, 69% 26%, 107% 10%,
      center bottom, 100% 5%;
    background-size: auto, auto, auto, auto, auto, 100% 80%, 100% auto;
  }
  .footer__container {
    justify-content: center;
  }
  .footer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__item:nth-child(1),
  .footer__item:nth-child(2),
  .footer__item:nth-child(4) {
    display: none;
  }
  .footer__item:nth-child(2)::before,
  .footer__item:nth-child(3)::before,
  .footer__item:nth-child(4)::before {
    display: none;
  }
}
@media (max-width: 900px) {
  .top-links {
    display: none;
  }
  .setings__lang {
    display: none;
  }
  .setings__logo {
    width: 50%;
  }
  .product-img__list {
    height: auto;
  }
  .main-menu.active {
    transform: translateY(32%);
  }
}
@media (max-width: 800px) {
  .hotspot__product {
    display: flex;
    flex-direction: column;
  }
  .hotspot__item {
    width: 100%;
  }
  .hotspot__item:last-child {
    display: flex;
    padding: 20px;
  }
  .hotspot__item:nth-child(2)::before {
    display: none;
  }
  .desc__questions {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .product-img__list--arrow {
    display: none;
  }
  .footer {
    background-image: url(/src/img/Prostokąt\ 48\ kopia\ 2.png),
      url(/src/img/Inteligentny\ obiekt\ wektorowy.png);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, 100% -175%;
    background-size: auto, auto;
  }
  .footer__item {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .projector {
    flex-direction: column;
    width: 95%;
  }
  .hotspot {
    width: 95%;
  }
  .desc__left {
    width: 95%;
  }
  .blog {
    width: 95%;
  }
  .blog__article {
    width: 100%;
  }
  .basket {
    display: none;
  }
}
@media (max-width: 500px) {
  .blog__img {
    width: 100%;
    height: 280px;
    background-size: cover;
  }
  .blog__article--txt {
    flex-direction: column;
  }
  .blog__article--txt p {
    width: 100%;
    padding: 0;
    margin: 20px 0 0 0;
  }
  .desc__questions div {
    display: flex;
    flex-direction: column;
  }
  .desc__questions div h3 {
    margin: 0 0 15px 0;
  }
  .setings__logo img {
    height: 25px;
  }
  .product-description__shipment {
    flex-direction: column;
  }
  .product-description__shipment--info {
    margin: 10px 0 0 0;
    justify-content: flex-start;
  }

  .product-description__price {
    flex-wrap: wrap;
  }
  .product-description__price--item:nth-child(1) {
    width: 60%;
  }
  .product-description__price--item:nth-child(2) {
    width: 30%;
  }
  .product-description__price--item:nth-child(3) {
    margin: 10px 0 0 0;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .product-description__comparison {
    flex-direction: column;
  }
  .product-description__promotion--item {
    width: 80%;
  }
  .product-description__promotion--container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}