body {
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* HEADER */

.header {
  width: 100%;
  background-color: #eaeaea;
  background-image: url(/src/img/25664\ kopia.png), url(/src/img/25664.png);
  background-repeat: no-repeat;
  background-position: left center, 100% 90%;
  background-blend-mode: overlay;
}
.top-links {
  background-color: #2e2e2e;
  width: 100%;
  height: 36px;
}
.top-links__container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 98%;
}
.top-links__item {
  margin: 0 42px 0 0;
}
.top-links__item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 0 2px 0;
  color: #ffffff;
  font-size: 11px;
}
.top-links__item svg {
  margin: 0 9px 0 0;
  height: 10px;
  fill: #da2128;
}
.top-links__item:nth-child(2) svg {
  height: 9px;
}
.setings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95px;
}
.setings__container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 98%;
}
.setings__search {
  display: flex;
  align-items: center;
}
.setings__search input {
  height: 50px;
  width: 59%;
  margin: 0 0 0 75px;
  padding: 15px;
  font-size: 13px;
  border-color: transparent;
}
.setings__search button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 46px;
  outline: none;
  background: #333333;
  cursor: pointer;
}
.setings__search button i {
  color: #ffffff;
  font-size: 18px;
}
.setings__lang {
  display: flex;
  align-items: center;
}
.setings__lang-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  height: 30px;
}
.setings__lang-container:first-child {
  margin: 0 0 0 -9px;
  border-right: 1px solid #bbbbbb;
}
.setings__lang-container span {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "myriad-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.setings__lang-container:last-child {
  padding: 0 0 0 15px;
}
.setings__lang-container:last-child span {
  cursor: pointer;
}
.setings__lang-container img {
  margin: 0 8px;
}
.setings__lang-container svg {
  height: 5px;
  cursor: pointer;
}
.basket {
  padding: 0 0 0 10px;
}
.basket__container {
  position: relative;
  z-index: 0;
}
.basket__container::before {
  position: absolute;
  content: "";
  background: url(/src/img/Warstwa683.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  right: 0;
  height: 200px;
  top: -106px;
  z-index: -1;
}
.basket__container a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 46px;
  text-decoration: none;
  color: #ffffff;
  z-index: 0;
}

.basket__container a::before {
  content: " ";
  background-image: url(/src/img/rank.png);
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: contain;
  filter: invert(100%);
  width: 38px;
  height: 46px;
  display: block;
  margin: 0 10px 0 18px;
}
.basket__quantity {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -12px;
  left: 44px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}
.basket__quantity span {
  font-size: 11px;
  font-family: "Ubuntu";
  font-weight: 700;
  color: #da2128;
}
.basket__txt {
  display: flex;
  flex-direction: column;
}

.basket__txt--title {
  font-size: 10px;
  font-family: sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.basket__txt--value {
  font-size: 19px;
  font-family: "Ubuntu";
  font-weight: 400;
}
.main-menu {
  display: flex;
  background-color: #ffffff;
}
.main-menu__container {
  display: flex;
  align-items: center;
  width: 98%;
}
.main-menu__item-container {
  display: flex;
}
.main-menu__item {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.1s linear;
}
.main-menu__item:hover {
  border-bottom-color: #da2128;
}
.main-menu__item:first-child {
  padding: 0 30px 0 0;
}
.main-menu__item a {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  color: #333333;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
.main-menu__item a svg {
  margin: 0 0 0 15px;
  height: 5px;
  cursor: pointer;
}
.product-menu {
  display: flex;
  align-items: center;
  height: 34px;
}
.product-menu__container {
  display: flex;
  width: 98%;
}
.product-menu__item {
  display: flex;
  align-items: center;
}
.product-menu__item span {
  margin: 0 12px;
  font-size: 12px;
  color: #333333;
}
.product-menu__item a {
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  text-decoration: none;
  color: #333333;
}
.product-menu__item:last-child a {
  color: #000000;
  font-weight: 700;
  font-size: 11px;
}

/* MAIN */

.main {
  width: 100%;
  background-color: #ffffff;
}
.projector {
  display: flex;
  padding: 27px 0;
  width: 98%;
}
.product-img {
  display: flex;
}
.product-img__list {
  width: 94px;
  height: 500px;
}
.product-img__list--arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 0 0;
}
.product-img__list--arrow:first-child {
  padding: 0 0 12px 0;
}
.product-img__list--arrow svg {
  width: 20px;
  cursor: pointer;
}
.product-img__list--arrow:first-child svg {
  transform: rotate(180deg);
}
.product-img__list--item {
  margin: 0 0 12px 0;
  padding: 3px 6px;
  width: 100%;
  border: 1px solid #ececec;
  cursor: pointer;
}
.product-img__list--item.active {
  border: 1px solid transparent;
  border-bottom: 3px solid #cd2d29;
}
.product-img__list--item img {
  width: 100%;
}
.product-img__selected {
  position: relative;
  padding: 18px 37px 0 22px;
  width: 100%;
}
.product-img__selected img {
  width: 100%;
}
.product-img__selected--info {
  position: absolute;
  padding: 0 9px 0 5px;
  top: 2px;
  right: 13px;
  background-color: #cd2d29;
  color: #ffffff;
  font-size: 9px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 1;
}
.product-img__selected--info::before {
  content: " ";
  position: absolute;
  background-image: url(/src/img/KształtLeft.png);
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: contain;
  right: 58px;
  width: 21px;
  height: 21px;
  display: block;
  z-index: -1;
}
.product-description {
  padding: 0 0 0 2px;
}
.product-description__info h1 {
  margin: -4px 0 0 0;
  font-size: 24px;
  text-transform: uppercase;
}
.product-description__additional {
  display: flex;
  margin: 10px 0;
}
.product-description__additional p {
  margin: 0 5px 0 0;
  font-size: 11px;
  text-transform: uppercase;
}
.product-description__additional--producer span {
  text-transform: none;
  color: #cd2d29;
  font-weight: 600;
}
.product-description__color--title {
  margin: 15px 0 0 0;
  font-size: 11px;
  text-transform: uppercase;
}
.product-description__color--container {
  display: flex;
  justify-content: space-between;
}
.product-description__color--item {
  margin: 10px 0 0 0;
  padding: 3px 5px;
  width: 14%;
  border: 1px solid #dfdfdf;
  cursor: pointer;
}
.product-description__color--item.active {
  border: 1px solid transparent;
  border-bottom: 4px solid #cd2d29;
}
.product-description__color--item img {
  width: 100%;
}
.product-description__color--item:nth-child(2) img {
  width: 100%;
  filter: hue-rotate(60deg);
}
.product-description__color--item:nth-child(3) img {
  width: 100%;
  filter: hue-rotate(120deg);
}
.product-description__color--item:nth-child(4) img {
  width: 100%;
  filter: hue-rotate(180deg);
}
.product-description__color--item:nth-child(5) img {
  width: 100%;
  filter: hue-rotate(240deg);
}
.product-description__color--item:nth-child(6) img {
  width: 100%;
  filter: hue-rotate(300deg);
}
.product-description__parameters {
  display: flex;
  margin: 15px 0 0 0;
}
.product-description__parameters--options {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.product-description__parameters--options label {
  font-size: 11px;
  text-transform: uppercase;
}
.product-description__parameters--options select {
  margin: 8px 6px 0 2px;
  padding: 13px 5px;
  border-color: #dfdfdf;
  font-size: 11px;
  font-weight: 600;
  color: #333333;
}
.product-description__parameters--options:last-child select {
  margin: 8px 0 0 10px;
}
.product-description__shipment {
  display: flex;
  justify-content: space-between;
  margin: 18px 0 0 2px;
}
.product-description__shipment--availability {
  display: flex;
}
.product-description__shipment--availability .check-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: #8dc640;
}
.product-description__shipment--availability div {
  margin: 0 0 0 10px;
}
.product-description__shipment--availability div p {
  font-size: 11px;
}
.product-description__shipment--availability div p:last-child {
  font-weight: 600;
}
.product-description__shipment--info {
  display: flex;
  justify-content: flex-end;
}
.product-description__shipment--info a {
  margin: 4px 2px 0 0;
  text-decoration: none;
  color: #cd2d29;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}
.product-description__price {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 0 0;
}
.product-description__price--item span {
  position: relative;
  color: #9d9c9c;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
}
.product-description__price--item:first-child span::before {
  content: " ";
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #9d9c9c;
}
.product-description__price--item p {
  color: #333333;
  font-size: 30px;
  font-weight: 600;
}
.product-description__price--item:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 0 20px;
  width: 102px;
  border: 1px solid #dfdfdf;
}
.product-description__price--item:nth-child(2) span {
  color: #333333;
  font-size: 23px;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.product-description__price--item button {
  padding: 22px 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-image: url(/src/img/Warstwa683.png);
  border: none;
  cursor: pointer;
}
.product-description__advantages {
  margin: 15px 0 0 0;
}
.product-description__comparison {
  display: flex;
  justify-content: space-between;
}
.product-description__comparison--container {
  display: flex;
}
.product-description__comparison--txt {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 12px;
}
.product-description__comparison--txt span {
  font-size: 14px;
  font-weight: 600;
}
.product-description__comparison--container a {
  text-decoration: none;
  color: #cd2d29;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}
.product-description__comparison--container:last-child a {
  margin: 4px 2px 0 0;
}
.product-description__comparison--img svg {
  width: 35px;
  height: 35px;
  fill: #da2128;
}
.product-description__promotion {
  display: flex;
  position: relative;
  margin: 18px 0 0 0;
  width: 100%;
  min-height: 100px;
  border: 1px solid #dfdfdf;
}
.product-description__promotion .aside-img {
  position: absolute;
  right: 18px;
  top: -15px;
  background-color: #fff;
}
.product-description__promotion--container {
  display: flex;
  flex-wrap: wrap;
  padding: 13px 5px;
  width: 100%;
}
.product-description__promotion--item {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 50%;
}
.product-description__promotion--icon {
  margin: 9px;
  height: 23px;
}
.product-description__promotion--item:nth-child(3) .product-description__promotion--icon {
  margin: 0;
  height: auto;
}
.product-description__promotion--icon img {
  height: 100%;
}
.product-description__promotion--icon span {
  display: block;
  padding: 0 8px 0 16px;
  font-size: 33px;
  line-height: 33px;
  color: #4d4d4d;
}
.product-description__promotion--txt p {
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.product-description__promotion--txt span {
  display: block;
  font-size: 11px;
  line-height: 13px;
  color: #7c7c7c;
}
.product-description__promotion--txt a {
  display: block;
  text-decoration: none;
  color: #cd2d29;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}
.hotspot {
  padding: 39px 0;
  width: 98%;
}
.hotspot__title {
  display: flex;
  align-items: center;
}
.hotspot__title h2 {
  margin: 0 0 0 13px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.hotspot__product {
  display: flex;
}
.hotspot__item {
  display: flex;
  position: relative;
  align-items: center;
  padding: 20px;
  margin: 10px 23px;
}
.hotspot__item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  width: 1px;
  height: 90px;
  background-color: #dfdfdf;
}
.hotspot__item:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  width: 1px;
  height: 90px;
  background-color: #dfdfdf;
}
.hotspot__item:last-child {
  padding: 20px 0 20px 46px;
}
.hotspot__description {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 25px;
  padding: 0 0 12px 0;
}
.hotspot__item:nth-child(2) .hotspot__description,
.hotspot__item:nth-child(3) .hotspot__description {
  margin: 0 0 0 32px;
}
.hotspot__description a {
  font-size: 11px;
  text-transform: uppercase;
  color: #333333;
  text-decoration: none;
}
.hotspot__description span {
  display: block;
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 700;
}